<h1>New book rent</h1>

<ul>
  <li>Title: <%= @rent.book.title %></li>
  <li>From: <%= @rent.from %></li>
  <li>To: <%= @rent.to %></li>
  <li>Author: <%= @rent.book.author %></li>
  <li>Publisher: <%= @rent.book.publisher %></li>
</ul>
