<h1>New book rent</h1>

<ul>
  <li><%= t('mailer.title') %> <%= @rent.book.title %></li>
  <li><%= t('mailer.from') %> <%= @rent.from %></li>
  <li><%= t('mailer.to') %> <%= @rent.to %></li>
  <li><%= t('mailer.author') %> <%= @rent.book.author %></li>
  <li><%= t('mailer.publisher') %> <%= @rent.book.publisher %></li>
</ul>
